.custum-ul{
    list-style: none;
}

body{
    height: 100vh;
    background-image: radial-gradient(whitesmoke, grey);
}

.custom-bg{
    background-color: lightgreen;
}

#search-button{
    background-color: grey;
    color: white;
    margin: 1;
}

.dropdown-menu{
    max-height: 200px;
    overflow-y: scroll;
}